<div id="about-page">
    <div >
      <h1 id="about-header">About Us</h1>  
    </div>
    
    <div id="about_section">
      <p style="margin: 1rem 1rem 1rem 1.5rem; font-size: 1.25rem; text-align: left;">
        Jaddu's Food Field is a family style restaurant offering exceptional value to its guests through the wide range of Mexican, Chinese, Thai, Indian, and Continental cuisines. Indian Cricketer Ravindra Jadeja crafted Jaddu’s with a singular vision-- bringing his guests best of the best and making any meal feel like a homemade meal.
      </p>
      <p style="margin: 1rem 1rem 1rem 1.5rem; font-size: 1.25rem; text-align: left;">
        Platters of homestyle Indian curries, soups, decadent continental dishes or juicy starters, and of course homemade desserts are all staples at Jaddu’s, meant for sharing amongst friends and family. When great food and drinks are supported by friendly and knowledgeable service, the results are magic - we want every day to feel like a Sunday afternoon at home!
      </p>
      <p style="margin: 1rem 1rem 1rem 1.5rem; font-size: 1.25rem; text-align: left;">
        Jaddu's was opened in 2012 in Rajkot to provide delicious food as well as magnificient service for your particular needs. In order to achieve this, professional chefs and staff were handpicked, along with the modern kitchen facility and cozy interior. To further enhance the dining experience, each meal is prepared using the most fresh, high quality, and rich in flavor ingredients!
      </p>
      <p style="margin: 1rem 1rem 1rem 1.5rem; font-size: 1.25rem; text-align: center;">
        We hope to see you soon at Jaddu's!
      </p>
    </div>
</div>
<div id="down_arrow">
    <svg class="blurp--top" width="192" height="61" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
      <path fill="#FFFFFF" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path>
    </svg>
    <div class="down-arrow down-arrow--bubble">
      <div class="arrow_container">
        <div id="arrow"></div>
      </div>
    </div>
</div>

<!-- Established in the year 2012, we at “Jaddu's Food Field,” are one of the renowned Restaurant Service Providers. We take pleasure in introducing ourselves as widely appreciated professionals in the field of catering to your food requirements. We have employed highly experienced professionals, who have immense expertise of this domain. Extensive experience and a professional team that strictly adheres to the industry standards have assisted us to carve a distinct position for ourselves. Our aim is to provide highest quality of food. We, through our services, strive to exceed the expectations of our customers by providing superior food quality and exceptional services. <br> <br>
Our Restaurant is admired for lip smacking range of Mexican, Chinese, Thai, Indian, and Continental cuisines which altogether add to our specialty. We ensure to make use of pure and fresh ingredients, which are procured from authentic vendors. Our range of delicious products is high on freshness and flavor. In such a short span of time, we have gained expertise in providing excellent Services to our valued clients. Our mission is to emerge as one of the most preferred group in food industry and create a name for ourselves as a quality and client focused organization. To achieve this we have implemented advanced business practices. We are known for our honesty, ethical business handling, and world class customer service. <br> <br>
Due to our delicious food range we have became the most preferred choice of our clients. We have recruited a team of trained chefs, that assist us in meeting the ever changing demands of our clients. They ensure to add a unique and delicious flavor to their items. Due to their sound experience, we are able to conveniently and prosperously delivering the best services according to the needs of our clients.
Following are some of the reasons that have made us the most preferred choice of our esteemed customers:-

Ultra modern kitchen facilities
Tasty, hygienic and quality foods
Dedicated and experienced workforce
Efficient logistic arrangements
Personalized Services
Cost Effective -->