<header class="container masthead clearfix">
  <div class="row inner">
    <div class="col-md-3 col-lg-3 col-sm-12" id="logo_container">
      <img src="../assets/images/jff_logo_1.1.png" id="header_logo"/>
    </div>
    <nav class="nav nav-masthead col-md-6 col-lg-6 col-sm-12">
      <div>
        <a class="nav-link active" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/about-us">About Us</a>
        <a class="nav-link" routerLink="/menu">Menu</a>
        <a class="nav-link" routerLink="/home">Gallery</a>
        <a class="nav-link" routerLink="/contact-us">Contact Us</a>
      </div>
    </nav>
  </div>
  
</header>
<div class="site-wrapper">

  <div class="site-wrapper-inner" id="home_top">

    <div class="section_container">
      <!-- ROUTING PAGE COMPONENT -->
      <router-outlet>
      </router-outlet>
      
      
      
    </div>

  </div>

</div>