<main role="main" class="inner cover" id="home_main">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="false">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active home_slides" id="slide_1" style="background-image: url('http://www.pensamedia.in.php56-20.dfw3-2.websitetestlink.com/media/23924/gallery/images/orignal/cacahe/800600C1IMG_2555.jpg'); background-position: center; background-size: cover;">
	      <div class="slide_container">
	      	<div>
		        <h1 id="discover_us" class="cover-heading d-block w-100 slides_headings">{{ slideInit.title }}</h1>
	        </div>
	        <div style="margin-top: 20%;">
		        <p class="lead">Jaddu's &nbsp; &nbsp; &nbsp; Food &nbsp; &nbsp; &nbsp; &nbsp;Field</p>
	        </div>
	        <!-- <div>
		        <p class="lead">
		          <a href="#" class="btn btn-lg btn-secondary" style="background-color: #383838;">Learn more</a>
		        </p>
	        </div> -->
	      </div>
	    </div>
	    <div class="carousel-item home_slides" id="slide_2" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/02/9f/03/ae/palace-front-view.jpg'); background-position: center; background-size: cover;">
	    	<!-- https://pbs.twimg.com/media/B_0nVPoU0AASKsy.jpg -->
	      <div class="slide_container">
	        <div>
	        	<h1 class="cover-heading d-block w-100 slides_headings">{{ slide1.title }}</h1>
	        </div>
	        <div>
	        	<p class="lead">{{ slide1.content }}</p>
	        </div>
	        <div>
	        	<p class="lead">
		          <a href="#footer_contact" class="btn btn-lg btn-secondary">About Us</a>
		        </p>
		    </div>
	      </div>
	    </div>
	    <div class="carousel-item home_slides" id="slide_3" style="background-image: url('https://static.wixstatic.com/media/a2b2b2_19913ed2f3de4b468c91e9eb58f340c5~mv2.jpg/v1/fill/w_784,h_286,al_c,q_90,usm_0.66_1.00_0.01/a2b2b2_19913ed2f3de4b468c91e9eb58f340c5~mv2.webp'); background-position: center; background-size: cover;">
	      <div class="slide_container">
	        <div>
	        	<h1 class="cover-heading d-block w-100 slides_headings">{{ slide2.title }}</h1>
	        </div>
	        <div>
	        	<p class="lead">{{ slide2.content }}</p>
	        </div>
	        <div>
	        	<p class="lead">
		          <a href="#footer_contact" class="btn btn-lg btn-secondary">Menu</a>
		        </p>
		    </div>
	      </div>
	    </div>
	    <div class="carousel-item home_slides" id="slide_4" style="background-image: url('http://www.pensamedia.in.php56-20.dfw3-2.websitetestlink.com/media/23924/gallery/images/orignal/cacahe/800600C1IMG_2390.jpg'); background-position: center; background-size: cover;">
	      <div class="slide_container">
	        <div>
	        	<h1 class="cover-heading d-block w-100 slides_headings">{{ slide3.title }}</h1>
	        </div>
	        <div>
	        	<p class="lead">{{ slide3.content }}</p>
	        </div>
	        <div>
	        	<p class="lead">
		          <a href="#footer_contact" class="btn btn-lg btn-secondary">Gallery</a>
		        </p>
		    </div>
	      </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</main>
<div id="down_arrow">
    <svg class="blurp--top" width="192" height="61" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
      <path fill="#FFFFFF" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path>
    </svg>
    <div class="down-arrow down-arrow--bubble">
      <div class="arrow_container">
        <div id="arrow"></div>
      </div>
    </div>
</div>
<!-- <div id="down_arrow">
    <svg class="blurp--top" width="192" height="61" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 160.7 61.5" enable-background="new 0 0 160.7 61.5" xml:space="preserve">
      <path fill="#FFFFFF" d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"></path>
    </svg>
    <div class="down-arrow down-arrow--bubble">
      <div class="arrow_container">
        <div id="arrow"></div>
      </div>
    </div>

    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script type="text/javascript">
    	function initMap() {
			var uluru = {lat: 22.273626, lng: 70.757280};
			var map = new google.maps.Map(document.getElementById('map'), {
			  zoom: 17,
			  center: uluru
			});
			var marker = new google.maps.Marker({
			  position: uluru,
			  map: map
			});
		}
    </script>

    <app-googlemaps>
    	<script type="text/javascript">
    		console.log(document.getElementById("down_arrow").style.visibility);
    	</script>
    </app-googlemaps>
</div> -->